<div class="pb-details form-group">
    <div>
        <div>
            <span class="pb-label">Name</span><input class="form-control" type="text" id="name"/>
        </div>
        <div>Bind to</div>
        <div>
            <select>
                <option>dummy 1</option>
                <option>dummy 2</option>
            </select>
        </div>
        <div>Options</div>
        <div class="pb-button-bar pb-grey clearfix">
            <div class="pb-icon-button" id="button-add">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
        <div id="options">

        </div>
        <div>
            <div>Align</div>
            <div>
                <input type="radio" name="align" value="horizontal">Horizontal</input>
                <input type="radio" name="align" value="vertical">Vertical</input>
            </div>
        </div>
    </div>
</div>
