<div class="pb-details form-group">
    <div>
        <div>
            <span class="pb-label">Name</span><input class="form-control" type="text" id="name"/>
        </div>
        <div>
            <label><input type="checkbox" id="snap"/>Snap to nearest value</label>
        </div>
        <div>Size</div>
        <div>
            <input name="size" type="radio" value="small">Small</input>
            <input name="size" type="radio" value="medium">Medium</input>
            <input name="size" type="radio" value="large">Large</input>
        </div>
        <div>
            <label><input type="number" id="min"/>Smallest value</label>
            <label><input type="number" id="max"/>Largest value</label>
        </div>
        <div>Options</div>
        <div class="pb-button-bar pb-grey clearfix">
            <div class="pb-icon-button" id="button-add">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
        <div id="options"></div>
    </div>
</div>