<div class="pb-details form-group">
    <div>
        <div>
            <span class="pb-label">Name</span><input class="form-control" type="text" id="name"/>
        </div>
        <div>
            <span class="pb-label">Default</span><input class="form-control" type="text" id="default"/>
        </div>
        <div>Size</div>
        <div>
            <input name="size" type="radio" value="small">Small</input>
            <input name="size" type="radio" value="medium">Medium</input>
            <input name="size" type="radio" value="large">Large</input>
        </div>
        <div>Align</div>
        <div>
            <input name="align" type="radio" value="left">Left</input>
            <input name="align" type="radio" value="center">Center</input>
            <input name="align" type="radio" value="right">Right</input>
        </div>
    </div>
</div>