.pb-stage
{
    /*background:#FAFAFA;*/
    padding:0px !important;
    min-height:500px;
    height:100vh;
    overflow:hidden;
}

.pb-tools
{
    /*background:#EAEAEA*/;
    min-height:500px;
    height:100vh;
    overflow-y:auto;
    overflow-x:hidden;
}

.pb-navbar
{
    margin:10px;
    dispay:block;
    overflow:hidden;
}

.pb-navlink
{
    margin-right:5px;
    float:left;
    color:#a9a9a9;
    font-size:1em;
    cursor: pointer;
}
.pb-navlink:hover
{
    color:#666666;
}
.pb-navlink.selected
{
    color:#000000;
}

.pb-panel
{
    margin:10px;
    /*background:#EAEAEA;*/
}

.pb-float-right
{
    float:right;
}
.pb-float-left
{
    float:left;
}
.pb-float-none
{
    float:none;
}
.pb-hidden
{
    display:none;
}

.pb-button-bar
{
    overflow:hidden;
}
.pb-grey
{
    background:#d3d3d3;
}

.pb-icon-button
{
    padding:4px;
    margin:5px;
    cursor:pointer;
    float:left;
    width:30px;
    height:30px;
    text-align: center;
}
.pb-icon-button.pb-bordered
{
    border:1px solid darkgrey;
}

.pb-no-select
{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.pb-select
{
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
.pb-warning
{
    font-size:0.9em;
    color: #8f6a6b;
    margin:4px;
}

.pb-message
{
    font-size:0.9em;
    color:#d3d3d3;
    margin:4px;
}

.pb-rounded-corners-5
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}

.pb-font-white
{
    color:white;
}

.pb-margin-4
{
    margin:4px;
}

.pb-top-margin-4
{
    margin-top:4px;
}
.pb-margin-bottom-4
{
    margin-bottom:4px;
}

.pb-margin-10
{
    margin:10px;
}
.pb-top-margin-10
{
    margin-top:10px;
}
.pb-margin-bottom-10
{
    margin-bottom:10px;
}

.pb-clearfix
{
    overflow:hidden;
}

.pb-navlink .glyphicon
{
    font-size:1.2em!important;
}

.tools-header
{
    opacity:0.5;
    filter: alpha(opacity=50);
    margin:20px 0px;
}

.tools-header a
{
    cursor:pointer;
}

a
{
    cursor:pointer;
}


.picklist
{
    margin:4px;
    width:200px;
    height:20px;

}
.pb-picklist
{
    margin:4px;
}
.pb-picklist>*
{
    float:left;
    border:1px solid darkgrey;
    display:table;
    width:100%;
}
.pb-picklist>*>*
{
    /* 'cells' */
    display:table-cell;
}
.pb-picklist>*>*:nth-child(2)
{
    /* arrow */
    width:20px;
}
.pb-picklist>*>*:nth-child(2)>*:first-child
{
    margin-top:5px;
    width:100%;
    color:#a9a9a9;
    text-align: center;
    font-size:0.5em;
}

.pb-help
{

}

.pb-help.pb-inline
{
    font-style: italic;
    color:grey;
}


.lookup-display-selection
{
    padding:10px;
    border:#d3d3d3 solid 1px;
    height:140px;
    overflow-y: auto;
    overflow-x: hidden;
}


.debug-info-small
{
    font-size:8px;
    position:absolute;
    top:0;
    left:0;
}

label
{
    font-style: italic;
    font-weight:normal !important;
    margin-left:10px;
}

table
{
    table-layout: fixed;
}

.drag-over
{
    border:1px solid red;
}

.schema
{
    padding-top:15px;
}

