<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT customBuilder ANY>
<!ATTLIST customBuilder id ID #REQUIRED>
<!ELEMENT dealDetail ANY>
<!ATTLIST dealDetail id ID #REQUIRED>
<!ELEMENT simplePage ANY>
<!ATTLIST simplePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT view ANY>
<!ATTLIST view id ID #REQUIRED>
<!ELEMENT register ANY>
<!ATTLIST register id ID #REQUIRED>
]>
<root id="-1">
  <simplePage id="1054" key="505e91cf-6632-416e-b5c7-9b8a06937443" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-06-18T01:14:12" updateDate="2017-11-28T12:45:19" nodeName="Home Page" urlName="home-page" path="-1,1054" isDoc="" nodeType="1053" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="1052" nodeTypeAlias="simplePage">
    <title><![CDATA[Home]]></title>
    <textPage id="1058" key="ca7fc052-f79d-4397-a190-22e56f65c396" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2017-06-18T01:21:29" updateDate="2017-11-25T16:32:46" nodeName="Deals" urlName="deals" path="-1,1054,1058" isDoc="" nodeType="1057" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="1056" nodeTypeAlias="textPage">
      <view id="1069" key="591f31f0-9d5d-4d95-8584-7dec589f2251" parentID="1058" level="3" creatorID="0" sortOrder="0" createDate="2017-06-18T01:58:22" updateDate="2017-11-25T14:26:16" nodeName="Table" urlName="table" path="-1,1054,1058,1069" isDoc="" nodeType="1068" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="1644" nodeTypeAlias="view" />
      <view id="1070" key="965b01cc-9fef-4355-b32c-6056123643e8" parentID="1058" level="3" creatorID="0" sortOrder="1" createDate="2017-06-18T01:58:38" updateDate="2017-06-18T01:58:38" nodeName="Pipeline" urlName="pipeline" path="-1,1054,1058,1070" isDoc="" nodeType="1068" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="1067" nodeTypeAlias="view" />
      <dealDetail id="3647" key="5a1693f0-7199-420e-b1b0-b032474e6f5d" parentID="1058" level="3" creatorID="0" sortOrder="2" createDate="2017-06-26T17:33:11" updateDate="2017-06-26T17:33:11" nodeName="DealDetail" urlName="dealdetail" path="-1,1054,1058,3647" isDoc="" nodeType="3646" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="3644" nodeTypeAlias="dealDetail" />
      <customBuilder id="5654" key="dd0524be-6859-4715-a3d9-636ab74aa9d1" parentID="1058" level="3" creatorID="0" sortOrder="3" createDate="2017-11-28T16:00:03" updateDate="2017-11-28T16:00:03" nodeName="Page Builder" urlName="page-builder" path="-1,1054,1058,5654" isDoc="" nodeType="5653" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="5652" nodeTypeAlias="customBuilder" />
    </textPage>
    <textPage id="1060" key="22a1a820-2d66-4680-bba0-4c386fb6aa1a" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2017-06-18T01:37:44" updateDate="2017-11-25T16:38:52" nodeName="Accounts" urlName="accounts" path="-1,1054,1060" isDoc="" nodeType="1057" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="1056" nodeTypeAlias="textPage">
      <view id="4647" key="f9a21f4d-b6f7-4664-a67b-8cc77d27d729" parentID="1060" level="3" creatorID="0" sortOrder="0" createDate="2017-11-25T14:26:52" updateDate="2017-11-25T14:26:52" nodeName="Table" urlName="table" path="-1,1054,1060,4647" isDoc="" nodeType="1068" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="4644" nodeTypeAlias="view" />
    </textPage>
    <textPage id="1061" key="411d9ec9-6df0-4477-8ccb-2398953f8948" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2017-06-18T01:38:00" updateDate="2017-11-25T16:39:00" nodeName="Contacts" urlName="contacts" path="-1,1054,1061" isDoc="" nodeType="1057" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="1056" nodeTypeAlias="textPage">
      <view id="4648" key="af4d8973-9f10-4b8b-abf0-5103a45e6dd3" parentID="1061" level="3" creatorID="0" sortOrder="0" createDate="2017-11-25T14:27:07" updateDate="2017-11-25T14:27:07" nodeName="Table" urlName="table" path="-1,1054,1061,4648" isDoc="" nodeType="1068" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="4645" nodeTypeAlias="view" />
    </textPage>
    <textPage id="1064" key="5ba4ac5c-3819-4c20-8c18-db1d4c780518" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2017-06-18T01:41:11" updateDate="2017-06-18T01:41:11" nodeName="Tasks" urlName="tasks" path="-1,1054,1064" isDoc="" nodeType="1057" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="1056" nodeTypeAlias="textPage">
      <view id="4651" key="e62a7171-9e18-4e37-b086-b59f449d7d96" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2017-11-25T16:01:24" updateDate="2017-11-25T16:01:24" nodeName="Table" urlName="table" path="-1,1054,1064,4651" isDoc="" nodeType="1068" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="4650" nodeTypeAlias="view" />
    </textPage>
    <register id="1074" key="a72eb026-421e-4fb6-8e6e-fdc32957198c" parentID="1054" level="2" creatorID="0" sortOrder="5" createDate="2017-06-18T10:09:03" updateDate="2017-06-21T07:15:01" nodeName="Register Mamber" urlName="register-mamber" path="-1,1054,1074" isDoc="" nodeType="1073" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="1072" nodeTypeAlias="register">
      <umbracoNaviHide>1</umbracoNaviHide>
    </register>
    <register id="4653" key="a046a1e6-1868-41dd-b142-5f9b19c37ee2" parentID="1054" level="2" creatorID="0" sortOrder="6" createDate="2017-11-28T14:25:36" updateDate="2017-11-28T14:25:36" nodeName="Register Buyer Page" urlName="register-buyer-page" path="-1,1054,4653" isDoc="" nodeType="1073" creatorName="Chris Castle" writerName="Chris Castle" writerID="0" template="1072" nodeTypeAlias="register">
      <umbracoNaviHide>0</umbracoNaviHide>
    </register>
  </simplePage>
</root>