@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TextPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MainSection.cshtml";
}


  <div class="col-md-1">
        @Html.Partial("MiddleNavigation")
    </div>
    
    
    <div class="col-md-11">
          Recomendations
    </div>
    