<div class="col-sm-12 no-padding no-overflow">
    <div class="col-sm-5 no-padding">
        <input id="name" class="form-control"/>
    </div>
    <div class="col-sm-4 no-padding">
        <select id="associatedField" class="form-control"></select>
    </div>
    <div class="col-sm-2 no-padding">
        <input id="color" class="form-control" type="color" />
    </div>
    <div class="col-sm-1 no-padding">
        <span class="form-control glyphicon glyphicon-trash"></span>
    </div>
</div>