<div class="pb-details form-group">
    <div class="pb-title">Formatting</div>
    <div id="warning" class="pb-warning"></div>
    <div class="">
        <span class="col-sm-4">Text</span>
        <span class="col-sm-8">
            <select class="form-control" id="text-color"/>
        </span>
    </div>
    <div class="">
        <span class="col-sm-4">Background</span>
        <span class="col-sm-8">
            <select class="form-control" id="background-color"/>
        </span>
    </div>
</div>