<div class="pb-details-panel">
    <div class="pb-title">Options</div>
    <div>
        <div>
            <label><input id="allowEdit" type="checkbox"/>Allow items to be added and removed</label>
        </div>
        <div id="editOptions">
            <span>Edit items..</span>
            <input name="editMethod" type="radio" value="inline">inline</input>
            <input name="editMethod" type="radio" value="dialog">using a dialog</input>
        </div>
        <div>
            <label><input id="showSummary" type="checkbox"/>Show summary row</label>
        </div>
    </div>
</div>