<div class="form-group col-sm-12 pb-user-field pb-rounded-corners-5 no-overflow">
    <div class="col-sm-12 no-padding">
        <span class="col-sm-4 no-padding">Column Name</span>
        <span class="col-sm-8 no-padding">
            <input id="name" class="form-control"/>
        </span>
    </div>
    <div id="content">
        <div class="no-padding">
            <span class="col-sm-4 no-padding">Width</span>
            <span class="col-sm-8 no-padding">
                <input id="width" class="form-control" type="number" min="0" max="100"/>
            </span>
        </div>
    </div>
</div>