<div class="pb-details-panel pb-details form-group">
    <div class="pb-title">Hyperlink</div>
    <div>
        <label><input type="radio" name="option" value="0"/>Don't link to anything</span></label>
    </div>
    <div>
        <label><input type="radio" name="option" value="1"/>Link to <span id="objName">...</span></label>
    </div>
    <div>
        <label><input type="radio" name="option" value="2"/>Link to url</label>
    </div>
    <div id="urlSection">
        <input id="url" class="form-control"/>
    </div>
</div>