<div class="pb-details-panel">
    <div>Field Binding</div>

    <input type="radio" id="radio_crm" name="mapping">Map to a CRM Field</input>
    <div id="content_crm">
        <div id="warning_crm" class="pb-warning"></div>
        <div><select class="form-control" id="crm"/></div>
    </div>

    <input type="radio" id="radio_other" name="mapping">Map to another field on this page</input>
    <div id="content_other">
        <div id="warning_other" class="pb-warning"></div>
        <div><select class="form-control" id="other"/></div>
    </div>

    <input type="radio" id="radio_derived" name="mapping">Derive data from a defined calculation</input>
    <div id="content_derived">
        <div id="warning_derived" class="pb-warning"></div>
        <div><select class="form-control" id="derived"/></div>
    </div>
</div>