<div class="pb-details-panel">
    <div class="pb-title">Enter width of component</div>
    <div>
        <input name="size" type="radio" value="small">Small</input>
        <input name="size" type="radio" value="medium">Medium</input>
        <input name="size" type="radio" value="large">Large</input>
        <input name="size" type="radio" value="full">Full Width</input>
        <input name="size" type="radio" value="specify">Choose</input>
        <input id="width" type="number" min="0" max="100">
    </div>
</div>


