@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using CustomLogic.Core.Database
@using CustomLogic.Core.Models
@using CustomLogic.UmbracoApis
@using CustomLogic.Services.DealsService


@{
    var rawData = Json.Encode(new DealService(new VelocityRocketLegacy()).List(new NgTableParams(), new CoreUser()).Data);
}


<script>
    
    (function () {

        var app = angular.module("app", ["ngTable"]);

        // Deal Service
        angular.module('app').factory('dealApiService', dealApiService);
        dealApiService.$inject = ['$http'];
        function dealApiService($http) {

            return {
                Get: get,
                Post: post,
                Put: put,
                Delete: deleteApi
            };

            function get(id) {
                return $http.get('/Umbraco/Api/Deals/Get/' + id)
                   .then(getDealComplete)
                   .catch(getDealFail);

                function getDealComplete(response) {
                    return response.data.Data;
                }

                function getDealFail(error) {
                    debugger;
                }
            };

            function post(data) {
                return $http.post('/Umbraco/Api/Deals/Post', data)
                   .then(postDealComplete)
                   .catch(postDealFail);

                function postDealComplete(response) {
                    return response.data;
                }

                function postDealFail(error) {
                    debugger;
                }
            };

            function put(id, data) {
                return $http.put('/Umbraco/Api/Deals/Put/' + id, data)
                   .then(putDealComplete)
                   .catch(putDealFail);

                function putDealComplete(response) {
                    return response.data.Data;
                }

                function putDealFail(error) {
                    debugger;
                }
            };

            function deleteApi(id) {
                return $http.delete('/Umbraco/Api/Deals/Delete' + id)
                   .then(deleteDealComplete)
                   .catch(deleteDealFail);

                function deleteDealComplete(response) {
                    return response.data.Data;
                }

                function deleteDealFail(error) {
                    debugger;
                }
            };
        };
        // Deal Service End

        // Deal Table Controller
        angular.module('app').controller('dealTableController', dealTableController);
        dealTableController.$inject = ["NgTableParams", "dealApiService"];

        function dealTableController(NgTableParams, dealApiService) {
            var vm = this;
            vm.tableParams = new NgTableParams({
                page: 1,            // show first page
                count: 10           // count per page
            }, {
                getData: function (params) {

                    var postParams = {};
                    postParams.page = params.page();
                    postParams.count = params.count();
                    postParams.total = params.total();
                    postParams.filter = params.filter();
                    postParams.sorting = params.sorting();
                    postParams.group = params.group();

                    return dealApiService.Post(postParams) // back end use NgTableParams ... awards controller 
                        .then(function (response) {
                            params.total(response.Count);
                            return response.Data;
                        });
                }
            });

            vm.tableParams.data = @Html.Raw(rawData);

        };
        // Deal Table Controller End


    })();
</script>

<div ng-app="app">
    
    <div ng-controller="dealTableController as deals">

        <table ng-table="deals.tableParams" class="table table-bordered table-striped table-responsive">
            <tr ng-repeat="row in $data track by row.Id">
                <td data-title="'Id'" filter="{Id: 'number'}" sortable="'Id'">{{row.Id}}</td>
                <td data-title="'Name'" filter="{Name: 'text'}" sortable="'Name'">
                    <a href="/deals/dealdetail?id={{row.Id}}">{{row.Name}}</a>
                </td>
                <td data-title="'Revenue Currency'" filter="{RevenueCurrency: 'text'}" sortable="'RevenueCurrency'">{{row.RevenueCurrency}}</td>
                <td data-title="'Revenue Amount'" filter="{RevenueAmount: 'text'}" sortable="'RevenueAmount'">{{row.RevenueAmount}}</td>
                <!--<td data-title="'Everything'" filter="{Everything: 'text'}" sortable="'Everything'">{{row}}</td>-->
            </tr>
        </table>

    </div>

</div>
